<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <%= image_tag "logo.png", class: "mx-auto h-30 w-auto", alt: "Disney Scrapbook" %>
    <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-white">Register</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_with model: @user, url: users_path, method: :post, local: true, class: "space-y-6" do |form| %>
      <div>
        <%= form.label :first_name, "First Name", class: "block text-sm/6 font-medium text-white" %>
        <div class="mt-2">
          <%= form.text_field :first_name, autocomplete: "given-name", required: true, class: "block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" %>
        </div>
      </div>

      <div>
        <%= form.label :last_name, "Last Name", class: "block text-sm/6 font-medium text-white" %>
        <div class="mt-2">
          <%= form.text_field :last_name, autocomplete: "family-name", required: true, class: "block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" %>
        </div>
      </div>

      <div>
        <%= form.label :email, "Email address", class: "block text-sm/6 font-medium text-white" %>
        <div class="mt-2">
          <%= form.email_field :email, autocomplete: "email", required: true, class: "block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" %>
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <%= form.label :password, "Password", class: "block text-sm/6 font-medium text-white" %>
        </div>
        <div class="mt-2">
          <%= form.password_field :password, autocomplete: "new-password", required: true, class: "block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" %>
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <%= form.label :password_confirmation, "Password Confirmation", class: "block text-sm/6 font-medium text-white" %>
        </div>
        <div class="mt-2">
          <%= form.password_field :password_confirmation, autocomplete: "new-password", required: true, class: "block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" %>
        </div>
      </div>

      <div>
        <%= form.submit "Sign up", class: "flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500" %>
      </div>
    <% end %>
  </div>
</div>
